html{
    /*font-size: 14px !important;*/
}
p{
    word-break: break-word;
}
a{
    text-decoration:none !important;
}
.carousel-control-next, .carousel-control-prev {
    width: 10px !important;
}
.greyimg img {
    filter: grayscale(100);
    width: auto;
}
.greyimg img:hover {
    filter: none;
}
.navbar-dark .navbar-nav .nav-link {
    color: #333 !important;
    font-weight: 555;
    font-size: 1rem;
}

.container-fluid1{
    background: url(/images/applied-ai-bg2.png)  no-repeat;
    background-size: cover !important;
}
.container-fluid3{
    background: url(/images/UX_01_1280x720.jpg)  no-repeat;
    background-size: cover !important;
    background-position: center !important;
}
.container-fluid4{
    background: url(/images/UX_02_1280x720.jpg) center fixed;
    height:200px;
}
.container-fluid5{
    background: url(/images/Online_Learning_1280x720.jpg) center no-repeat fixed;
    background-size: cover !important;
    height:200px;
}
.container-fluid6{
    background: url(/images/Fundamentals_01_1280x720.jpg)  no-repeat;
    background-size: cover !important;
    background-position: center !important;
}
.container-fluid7{
    background: url(/images/howitworks.jpg)  no-repeat;
    background-size: cover !important;
}
.img-class1{
    background-image: url(/images/UX-min.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
    transition:0.6s;
    background-color:#5da2b2;
}
.img-class1:hover{
    background-image: url(/images/UX-min.jpg);
    background-size: 150%;
    background-color:#5da2b2;
}
.img-class2{
    background-image: url(/images/UI-min.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
    transition:0.6s;
    background-color:#5da2b2;
}
.img-class2:hover{
    background-image: url(/images/UI-min.jpg);
    background-size: 150%;
    background-color:#5da2b2;
}
.img-class3{
    background-image: url(/images/WebDev-min.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
    transition:0.6s;
    background-color:#5da2b2;
}
.img-class3:hover{
    background-image: url(/images/WebDev-min.jpg);
    background-size: 150%;
    background-color:#5da2b2;
}
.job-guarantee img,.job-guarantee img:hover { 
    transition: .7s; 
    -webkit-transition: .7s; 
    -moz-transition: .7s; 
    -ms-transition: .7s; 
    -o-transition: .7s; 
} 
.job-guarantee img { 
    width: 150px; height: 150px; 
    margin-right: auto; 
    margin-left: auto; 
    margin-top: -75px;
} 
.thim-video-popup::before { 
    opacity: .25!important ;
} 
.job-guarantee img:hover { 
    -webkit-transform: rotate(-25deg); 
    -moz-transform: rotate(-25deg); 
    -o-transform: rotate(-25deg); 
    -ms-transform: rotate(-25deg); 
    transform: rotate(-25deg);
}
.img-class4{
    background-image: url(/images/Fundamentals-min.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
    transition:0.6s;
    background-color:#2f668f;
}
.img-class4:hover{
    background-image: url(/images/Fundamentals-min.jpg);
    background-size: 150%;
    background-color:#2f668f;
}
.img-class5{
    background-image: url(/images/VoiceUserInterfaceDesign-min.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
    transition:0.6s;
    background-color:#2f668f;
}
.img-class5:hover{
    background-image: url(/images/VoiceUserInterfaceDesign-min.jpg);
    background-size: 150%;
    background-color:#2f668f;
}
.img-class6{
    background-image: url(/images/UIforUXers-min.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
    transition:0.6s;
    background-color:#2f668f;
}
.img-class6:hover{
    background-image: url(/images/UIforUXers-min.jpg);
    background-size: 150%;
    background-color:#2f668f;
}
.img-class7{
    background-image: url(/images/FrontendforDesigners-min.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
    transition:0.6s;
    background-color:#2f668f;
}
.img-class7:hover{
    background-image: url(/images/FrontendforDesigners-min.jpg);
    background-size: 150%;
    background-color:#2f668f;
}
.img-class8{
    background-image: url(/images/UX-1.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
    transition:0.6s;
}
.img-class8:hover{
    background-image: url(/images/UX-1.jpg);
    background-size: 150%;
}
.img-class9{
    background-image: url(/images/UI-1.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
    transition:0.6s;
}
.img-class9:hover{
    background-image: url(/images/UI-1.jpg);
    background-size: 150%;
}
.img-class10{
    background-image: url(/images/WebDev-1.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
    transition:0.6s;
}
.img-class10:hover{
    background-image: url(/images/WebDev-1.jpg);
    background-size: 150%;
}
.container-fluid2{
    background: url(/images/Large.jpg)  repeat;
    color:#ffffff;
    height:250px;
}
.box-shadow{
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(51,51,51,.1);
}
.btn.focus, .btn:focus {
    box-shadow: none !important;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color:#444444;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    /*background-color: #f6f6f6;*/
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-bottom: 3px solid #10C3F8;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active i{
    /*color: #ffb606;*/
}
.nav-tabs .nav-link{
    border-radius: 0px;
    font-size: 18px;
    color: #939393;
    line-height: 65px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background: #fafafa;
    height: 65px;
    color: #10C3F8;
    /*line-height: 65px;*/
}
.v-sub {
    padding-left: 3px;
}
.active-class {
    border-left: 5px solid #ffc107;
    padding: 5px 10px;
    background: #f2f2f2;
}
a:link {
    text-decoration: none;
    color:#444444;
    line-height: 2rem;
}
a :hover {
    color:#ffb606;
}
.no-padding{
    padding:0px;
}
@media only screen and (max-width: 500px) {
    li{
        padding:2px;
    }
    ul{
        margin-bottom: 0px;
    }
    .coment-rep {
        display: flex;
        margin-left: 0px !important;
        border-top: 1px solid #ccc;
        padding-top: 10px;
    }
    .coment-sub-rep {
        display: flex;
        margin-left: 0px !important;
        border-top: 1px solid #ccc;
        padding-top: 10px;
    }
    .style-text-uppercase{
        font-size: 1rem;
        line-height: 1.5rem;
        padding-top: 5px;
    }
    .style-padding{
        padding: 0px !important;
    }
    .style-media{
        padding: 0 25px;
    }
    .style-text-secondary{
       font-size: .8rem;
       line-height: 1rem; 
       padding: 2px;
    }
    .style-padding-1{
        padding: 0 1px !important;
    }
}
/* .nav-link{ */
/* border-bottom:1px solid #343a40; */
/* } */
/* .dropdown-menu{ */
/* border-bottom:1px solid #343a40; */
/* } */
.nav-item :hover{
    /* background-color:rgba(225,193,7,0.3); */
    /*border-bottom:1px solid #ffc107 !important;*/
}
.dropdown-menu :hover{
    /* background-color:#ffc107; */
    /*border-bottom:1px solid #ffc107 !important;*/
}

/* .btn{ */
/* padding:5px; */
/* border:none; */
/* } */
/* .btn :hover{ */
/* border:none; */
/* } */
/* .btn:focus { */
/* outline: 0px; */
/* box-shadow: none; */
/* } */
/*.card-body a{
    color:#444444;
}
.card-body{
    padding:0px;
}
.card-body ul{
    padding:0px;
}
.card{
    border:none;
}
.v-sub-hover :hover {
    color:#ffb606;
}*/
.material-icons{
    font-size:15px;
}
.material-icons1{
    font-size:16px;
}
.comment p{
    width: 100%;
}
.comment.author-comment{
    justify-content: flex-start;
}
.comment{
    display: flex;
}
.comment.author-comment p{
    order: 1;
}
.comment.author-comment .avatar{
    order: 2;
}
.comment.author-comment .info{
    order: 3;
}

.coment-rep {
    display: flex;
    margin-left: 80px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.coment-sub-rep {
    display: flex;
    margin-left: 200px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.coment-q {
    display: flex;
}
.comment-section{
    list-style: none;
    width: 100%;
    margin: 10px auto 40px;
    padding: 10px;
    border-top: 1px solid #ccc;
}
.comment{
    display: flex;
    border-radius: 3px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}
.comment.user-comment{
    color:  #808080;
}
.comment.author-comment{
    color:  #60686d;
    justify-content: flex-end;
}

/* User and time info */
.comment .info{
    width: 17%;
}
.comment.user-comment .info{
    text-align: right;
}

.comment.author-comment .info{
    order: 3;
}
.comment .info a{	/* User name */
    display: block;
    text-decoration: none;
    color: #656c71;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0 3px 0;
}

.comment .info span{	/* Time */
    font-size: 11px;
    color:  #9ca7af;
}

/* The user avatar */

.comment .avatar{
    width: 8%;
}
.comment.user-comment .avatar{
    padding: 10px 18px 0 3px;
}

.comment.author-comment .avatar{
    order: 2;
    padding: 10px 3px 0 18px;
}

.comment .avatar img{
    display: block;
    border-radius: 50%;
}

.comment.user-comment .avatar img{
    float: right;
}





/* The comment text */

.comment p{
    line-height: 1.5;
    padding: 18px 22px;
    width: 50%;
    position: relative;
    word-wrap: break-word;
}

.comment.user-comment p{
    background-color:  #f3f3f3;
}

.comment.author-comment p{
    background-color:  #e2f8ff;
    order: 1;
}

.user-comment p:after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #f3f3f3;
    left: -8px;
    top: 18px;
}

.author-comment p:after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #e2f8ff;
    right: -8px;
    top: 18px;
}




/* Comment form */

.write-new{
    margin: 80px auto 0;
    width: 50%;
}

.write-new textarea{
    color:  #444;
    font: inherit;

    outline: 0;
    border-radius: 3px;
    border: 1px solid #cecece;
    background-color:  #fefefe;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;

    width:100%;
    min-height: 80px;
    padding: 15px 20px;
}

.write-new img{
    border-radius: 50%;
    margin-top: 15px;
}

.write-new button{
    float:right;
    background-color:  #87bae1;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;

    padding: 10px 25px;
    margin-top: 18px;
}



/* Responsive styles */

@media (max-width: 800px){
    /* Make the paragraph in the comments take up the whole width,
    forcing the avatar and user info to wrap to the next line*/
    .comment p{
        width: 100%;
    }

    /* Reverse the order of elements in the user comments,
    so that the avatar and info appear after the text. */
    .comment.user-comment .info{
        order: 3;
        text-align: left;
    }

    .comment.user-comment .avatar{
        order: 2;
    }

    .comment.user-comment p{
        order: 1;
    }


    /* Align toward the beginning of the container (to the left)
    all the elements inside the author comments. */
    .comment.author-comment{
        justify-content: flex-start;
    }


    .comment-section{
        margin-top: 10px;
    }

    .comment .info{
        width: auto;
    }

    .comment .info a{
        padding-top: 15px;
    }

    .comment.user-comment .avatar,
    .comment.author-comment .avatar{
        padding: 15px 10px 0 18px;
        width: auto;
    }

    .comment.user-comment p:after,
    .comment.author-comment p:after{
        width: 12px;
        height: 12px;
        top: initial;
        left: 28px;
        bottom: -6px;
    }

    .write-new{
        width: 100%;
    }
}
@media (max-width: 600px){
    iframe{
        width: 100%;
        height:100%;
    }
    .pointlist{
        font-size: 15px;
        padding-left: 35px !important;
    }
    .mob-vir{
    padding-top:10px !important;
    }
}
















/*This just stops me getting horizontal scrolling if anything overflows the width*/

/*Flexbox gives us the flexiness we need. The top just stays put as there is no scrolling on the body due to the page never exceeding viewport height*/
.scroll-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
    font-size: 3rem;
    position: relative;
    z-index: 10;
    height: 100px;
}
/*This is our main wrapping element, it's made 100vh high to ensure it is always the correct size and then moved into place and padded with negative margin and padding*/
.scroll-container {
    display: flex;
    overflow: hidden;
    height: 100vh;
/*    margin-top: -100px;
    padding-top: 100px;*/
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/
.scroll-left,
.scroll-middle,
.scroll-right {
    overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/
.scroll-left::-webkit-scrollbar,
.scroll-middle::-webkit-scrollbar,
.scroll-right::-webkit-scrollbar {
    display: none;
}
/*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
.scroll-left {
    width: 12.5rem;
}

.scroll-middle {
    flex: 1;
}

.scroll-right {
    width: 12.5rem;
    background-color: violet;
}



/* Gate Css*/

.container-fluid-img{background: url(../img/applied-ai-head-bg.jpg)  no-repeat;background-size: cover !important;}
.container-fluid-bg{background: #44465B;background-size: cover !important;}
.container-fluid-img-gate{background: url(../img/applied-ai-head-bg.jpg)  no-repeat;height: 300px;background-size: cover !important;background-position: center;}
.container-fluid-bg{background: url(../img/yellow-bg1.png)  no-repeat;background-size: cover !important;background-position: center;}
.container-fluid-img-new{background: url(../img/Header_banner-new.png)  no-repeat;height: 558px;background-size: cover !important;}
.container-fluid-img-new{background: url(../img/Header_banner-new.png)  no-repeat;height: 558px;background-size: cover !important;}
.container-fluid-img1{background: url(../img/Header_banner.png)  no-repeat;height: 240px;background-size: cover !important;}
.container-fluid-img1-new{background: url(../img/Header_banner-new.png)  no-repeat;height: 240px;background-size: cover !important;}
.testimonial-bg{background: url(../img/yellow-bg2.png)  no-repeat; background-size: cover !important;}
.testimonial-bg1 {background: url(../img/yellow-bg1.png)  no-repeat; background-size: cover !important;}
.container-fluid-img2{background: url(../img/Header_banner.png)  no-repeat;background-size: cover !important;border-top:1px solid #000;background-position: center;}
.container-fluid-img2-new{background: url(../img/Header_banner-new.png)  no-repeat;background-size: cover !important;border-top:1px solid #000;background-position: center;}
a{text-decoration:none !important;color:#444444;}
li{list-style:none;}
a:link {text-decoration:none;color:#444444;}
a :hover {color:#ffb700;}
.v-sub-hover :hover {color:#ffb606;}
.text-font{font-family: 'Source Sans Pro', sans-serif;;font-weight:bold;font-size: 20px;}
.text-style-size{font-family: 'Source Sans Pro', sans-serif; !important;color:#ffb606;font-weight:bold;font-size:49px;}
.text-style{color:#ffb606;}
.text-font-color{color:#838383;}
.job-guarantee img{margin-top:-120px;}
.box-shadow{background: #fff;box-shadow: 0px 2px 5px 3px rgba(51,51,51,.1);padding: 10px 0; border-radius: 10px;}
.dir-title{font-size: 1rem;color: #555;font-weight:bold;}
.dir-info{font-size: 0.8rem;padding-bottom: 5px !important;}
.home-tiles .dir-info{font-size: 0.57rem;padding-bottom: 5px !important;}
.dir-info1{font-size: 0.8rem;font-weight: bold;}
.border-bottom-style{border-bottom:8px solid #ffb700;}
.i-style i { 	border: 2px solid #fff; 	color: #fff; 	width: 35px; 	height: 35px; 	border-radius: 50% !important; 	text-align: center; 	padding-top: 8px; }
body {    font-family: 'Source Sans Pro', sans-serif;}
.sub-head {font-size: 1.5rem;font-weight: 600 !important;color: #444 !important;line-height: 2rem;white-space: normal;width: 100%;}
.sub-head span {color: #ffc107;}
.container-fluid {}
.dir-imgbox .box-shadow  {padding: 0 !important;overflow: hidden;}
a{text-decoration:none !important;color:#444444;}
.carousel-control-next, .carousel-control-prev {width: 10px !important;}
.greyimg img {filter: grayscale(100);}
.greyimg img:hover {filter: none;}
.bg-dark-color{background-color:#223c50;}
.job-guarantee img,.job-guarantee img:hover {transition: .7s;-webkit-transition: .7s;-moz-transition: .7s;-ms-transition: .7s;-o-transition: .7s;} 
.job-guarantee img {width: 150px; height: 150px;display: block;margin-right: auto;margin-left: auto;margin-top: -75px;} 
.thim-video-popup::before {opacity: .25!important;} 
.job-guarantee img:hover {-webkit-transform: rotate(-25deg);-moz-transform: rotate(-25deg);-o-transform: rotate(-25deg);-ms-transform: rotate(-25deg);transform: rotate(-25deg);}
.container-fluid2{background: url(../img/Large.jpg)  repeat;color:#ffffff;height:250px;}
li{list-style: none;}
a:link {text-decoration: none;color:#444444;font-size: 14px;}
a :hover {color:#ffb606;}
.card{border:none !important;}
.btn:focus {border-radius:none !important;border:none !important;box-shadow:none !important;}
.accordi {background: #fff;	border-radius: 10px; margin-bottom: 6px;}
.headerlist .fa-check {font-size: 12px;border: 1px solid #FCB514;background-color: #FCB514;	color: #686868;}
.style-input{border-bottom: 1px solid #FCB514;border-top: 0px;border-left: 0px;border-right: 0px;width: 100%;color:#FCB514;}
.style-input1{border-bottom: 1px solid #ccc;border-top: 0px;border-left: 0px;border-right: 0px;width: 100%;}
.color-blue{color:#6184AD;}
.color-gray{color:#404454;}
.accordian .fa-angle-down {
    font-size: 24px !important;
    font-weight: bold !important;
}
.bg-nav{
    background-color: #292d41 !important;
}
.nav-link{
    letter-spacing: 1px;
}
.weight-600{
    font-weight: 600;
    letter-spacing: 1px;
}
.list-numbers li{    
    list-style: decimal;
    margin-left: 27px;
    line-height: 32px;
}
.list-circles li{
    list-style: disc;
}
.embed-container { pointer-events:auto; position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
 .theme-color{
    color:#10C3F8 !important;
 }
 .theme-bg{
    background: #10C3F8 !important;
 }