@CHARSET "UTF-8";
.sidebar-nav{
	background : #ffffff;
	padding-bottom : 0px;
}

.nav .dropdown-toggle .caret, .nav .dropdown-toggle:hover .caret, .nav-tabs .active .dropdown-toggle .caret{
	border-top-color : #ffffff;
	border-bottom-color : #ffffff;
}

body{
	font-family : Arial,Verdana,Helvetica,sans-serif;
	background : url("/public/tel_bg.gif") repeat-x #fbefd1;
	color : black;
}

a{
	text-decoration : none;
	color : #1d5b1c;
}

h3{
	color : #1d5b1c;
	font-size : 17px;
	font-weight : bold;
}

.logo{
	padding : 10px 10px;
        height: 130px;
	background : url("/public/tel_bandeau.jpg") no-repeat center center;
}

.corps{
	padding : 5px 10px 10px;
}

#container{
	background-color : #fff;
        width:980px;
}

.sidebar-nav>ul>li>a, .sidebar-nav>ul>li ul{
	background : #265a21;
}

.sidebar-nav>ul>li.active>a, .sidebar-nav>ul>li:hover>a, .sidebar-nav>ul>li.active:hover>a{
	background : #EA9838;
}

.sidebar-nav>ul>li>a, .sidebar-nav>ul>li.active>a, .sidebar-nav>ul li.active:hover>a, .sidebar-nav>ul ul a{
	color : #fff;
	text-decoration : none;
}

.sidebar-nav>ul>li ul a:hover, .dropdown-submenu:hover > a{
	background : #6c9822;
}

