[Desktop Entry]
Encoding=UTF-8
Name=Link to Online Text Editor - myTextarea - a simple online text editor
Type=Link
URL=https://www.mytextarea.com/
Icon=text-html
Name[en_US]=Language_tool
