[Desktop Entry]
Encoding=UTF-8
Name=Link to Linguee | Dictionnaire anglais-français (et autres langues)
Type=Link
URL=https://www.linguee.fr/
Icon=text-html
Name[en_US]=Linguee
