[Desktop Entry]
Encoding=UTF-8
Name=Link to Plagiarism checker Tool - 100% Free, Accurate and Immediate
Type=Link
URL=https://www.duplichecker.com/
Icon=text-html
Name[en_US]=Plagiarism
