[Desktop Entry]
Encoding=UTF-8
Name=Link to adaptative - English-French Dictionary WordReference.com
Type=Link
URL=https://www.wordreference.com/enfr/adaptative
Icon=text-html
Name[en_US]=WordReference
