/* Reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%; /* stops Mobile Safari from auto-adjusting font-sizes */
  -ms-text-size-adjust: 100%;
}

html, body {
  height: 100%;
}

a:hover,
a:active {
  outline: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible; /* inner spacing in ie6-7 */
  line-height: normal; /* ff3-4 have !important on line-height in UA stylesheet */
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* inner padding and border oddities in ff3-4 */
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; /* cursors on all buttons applied consistently */
  -webkit-appearance: button; /* style clickable inputs in ios */
}
input[type="search"] { /* appearance in safari, chrome */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; /* inner-padding issues in chrome osx, safari 5 */
}
textarea {
  overflow: auto; /* remove vertical scrollbar in ie6-9 */
  vertical-align: top; /* readability and alignment cross-browser */
}

strong{font-weight:bold;font-style:normal;}
em{font-weight:normal;font-style:italic;}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  margin-bottom: 8px;
}

/* Clearfix */

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* Code */

pre {
  display: block;
  white-space: pre;
  white-space: pre-wrap;
}

pre, .code {
  font-family: Monaco, "Courier New", monospace;
  font-size: 11px;
  line-height: 14px;
  color: #222;
  word-break: break-all;
  word-wrap: break-word;
}

/* Typography presets */

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: bold;
  color: #000;
}

.huge, h1 {
  font-size: 24px;
  line-height: 30px;
}

.larger, h2 {
  font-size: 20px;
  line-height: 24px;
}

h2 {
  color: #369;
}

h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #0870a1;
  border-bottom: 1px solid #dcdfe4;
  margin-bottom: 8px;
}

.large, h4 {
  font-size: 14px;
  line-height: 20px;
}

h5 {
  font-size: 12px;
  line-height: 18px;
}

h6 {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #666;
}

body, .normal {
  font-size: 12px;
  line-height: 18px;
}

body.embed, body.embed .normal {
  font-size: 11px;
}

.small, small {
  font-size: 11px;
  line-height: inherit;
}

.tiny {
  font-size: 10px;
  line-height: 14px;
}

.small p,.tiny p,.small pre,.tiny pre,p.small,p.tiny,pre.small,pre.tiny{line-height:normal;}

body {
  font-family: Verdana,Arial,sans-serif;
  color: #000;
}

/* Selection colors */

img::selection{background:transparent;}
img::-moz-selection{background:transparent;}

/* Forms */
button,
input,
textarea,
select {
  font-family: Verdana,Arial,sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
input,
textarea,
select {
  color: #777;
  display: inline-block;
  height: 18px;
  padding: 4px;
  width: 180px;
  margin: 0;
  vertical-align: middle;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0; /* ie7 */
  line-height: normal;
  cursor: pointer;
  border: 0 \9; /* ie9 and lower */
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

input[type="image"] {
  border: 0;
}

input:focus,
textarea:focus,
select:focus {
  color: #000;
}
input:focus,
textarea:focus {
  border-color: #bbb;
  outline: 0;
  outline: thin dotted \9; /* ie6-9 */
}

label {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: bold;
  vertical-align: middle;
}

.form-field {
  margin-bottom: 8px;
}

.form-field label {
  display: block;
}

label.checkbox {
  font-family: Verdana,Arial,sans-serif;
  font-weight: normal;
  vertical-align: bottom;
}

/* Buttons */

.button {
  /*font-family: Helvetica,Arial,sans-serif;*/
  display: inline-block;
  padding: 4px 6px;
  margin: 0;
  line-height: 18px;
  *line-height: 14px;
  text-align: center;
  vertical-align: bottom;
  color: #fff;
  border: 1px solid #369;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #369;
  background: -webkit-gradient(linear, left top, left bottom, from(#369), to(#104b7d));
  background: -moz-linear-gradient(top,  #369,  #104b7d);
  filter: progid:progidDXImageTransform.Microsoft.gradient(startColorstr='#336699', endColorstr='#104b7d');
}
/* ie7 left white space */
.button {
  *margin-left: .3em;
}
.button:first-child {
  *margin-left: 0;
}
/* ie */
input.button[type="submit"], button.button {
  *padding-top: 4px;
  *padding-bottom: 4px;
}

.button:focus {
  outline: 0;
  outline: thin dotted \9; /* ie6-9 */
}
.button:hover, .button:active {
  text-decoration: none;
}
.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#369), to(#003d73));
  background -moz-linear-gradient(top,  #369,  #003d73);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#336699', endColorstr='#003d73');
}

.button img {
  vertical-align: middle;
}
.button img.button-icon {
  margin-right: 4px;
}

.button-gray {
  color: #222;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  border: 1px solid #ccc;
  background-color: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top,  #fff,  #ededed);
  filter: progid:progidDXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.button-gray:focus {
  border-color: #bbb;
}
.button-gray:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
  background -moz-linear-gradient(top,  #fff,  #dcdcdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

.button-small {
  font-size: 10px;
  line-height: 16px;
}

.button-tiny {
  font-size: 10px;
  line-height: 16px;
  padding: 0 4px;
  height: 16px;
}

.button-append {
  display: inline-block;
  *display: inline; /* ie7 inline-block */
  *zoom: 1;
}
.button-append input {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.button-append .button {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.button-group {
  margin: 0;
  list-style: none;
  *zoom: 1;
}
.button-group:before,
.button-group:after {
  display: table;
  content: "";
}
.button-group:after {
  clear: both;
}
.button-group > li {
  float: left;
  margin-left: -1px;
}

.button-group > li > .button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.button-group > li:first-child > .button {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.button-group > li:last-child > .button {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}

/* Default Layout: 992px
  Gutters: 24px
  Outer margins: 48px
  Leftover space for scrollbars @1024px: 32px
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896 */

.w-1  {width: 68px}
.w-2  {width: 160px}
.w-3  {width: 328px}
.w-4  {width: 344px}
.w-5  {width: 436px}
.w-6  {width: 528px}
.w-7  {width: 620px}
.w-8  {width: 712px}
.w-9  {width: 804px}
.w-10 {width: 896px}

body {
  /*background-color: rgb(232,232,232);*/
  background-color: #ffffff;
  /* LU blue background-color: rgb(215, 238, 247); */
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 992px;
  background-color: #fff;
  padding-bottom: 103px;
  /*-webkit-box-shadow: 3px 0 3px 0 #ddd, -3px 0 3px 0 #ddd;*/
  /*-moz-box-shadow: 3px 0 3px 0 #ddd, -3px 0 3px 0 #ddd;*/
  /*box-shadow: 3px 0 3px 0 #ddd, -3px 0 3px 0 #ddd;*/
  /*border-bottom: 1px solid #dcdfe4;*/
}

.wrapper > * {
  padding-left: 16px;
  padding-right: 0px;
}

.wrapper > header {
  /*padding-top: 16px;*/
  /*border-top: 1px solid #dcdfe4;*/
  /*border-left: 1px solid #dcdfe4;*/
  /*border-right: 1px solid #dcdfe4;*/
  /*background-image: url(../img/sprieten.png);*/
  /*background-repeat: no-repeat;*/
  /*background-position: left 24px;*/
    clear: both;
}

#godwrapper {
  min-height:100%;
  position:relative;
}

.topwrapper, .footerwrapper {
  width:100%;
  background-color: rgb(248, 243, 234);
}

div.footerwrapper {
  position:absolute;
  bottom:0;
  height:103px;
}

.topheader {
  position: relative;
  width:992px;
  margin: 0 auto;
  font-size: 10px;
  font-weight: 700;
  line-height: 18px;
  padding-top: 3px;
  background-color: rgb(248, 243, 234);
  color: #000;
  text-decoration: none;
}
.topheader a {
  color: #000;
  cursor: pointer;
}
.topheader ul {
  list-style: none outside none;
  margin-left: 0px;
}
.topheader li {
  display: inline;
  padding: 0px 10px;
  border-left: 2px solid rgb(222, 219, 217);
}
.topheader li:first-child {
  border-left: medium none;
}

.wrapper > .luheader {
  /*height: 100px;*/
}

.wrapper > .luheader > .headerbox {
  height: 100px;
  float: left;
}

.wrapper > .luheader h1 {
  padding: 16px 0 0 10px;
  font-size: 26px;
  font-family: Georgia,serif;
  font-weight: 400;
  line-height: 26px;
}

.wrapper > .luheader h1 a {
  color: rgb(142, 86, 20);
  border-bottom-color: rgb(156,97,20);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 5px;
  margin-bottom: 9px;
  text-decoration: none;
}

.wrapper > .luheader h2 {
  color: rgb(142, 86, 20);
  padding: 0px 0 0 10px;
  font-size: 11px;
  line-height: 11px;
  font-family: Arial,sans-serif;
  font-weight: bold;
  letter-spacing: normal;
  margin-bottom: 5px;
  margin-top: 16px;
}

.wrapper > .luheader > nav {
  float: right;
  text-align: right;
  padding-top: 2px;
  padding-left: 10px;
  /*padding: 4px 0 24px 180px;*/
  /*padding: 4px 0 28px 180px;*/
}
.wrapper > .luheader > nav ul li {
  white-space: nowrap;
}
.wrapper .logo {
  float: left;
  margin-top: 10px;
}

.wrapper > header .search-form {
  position: absolute;
  right: 20px;
  top: 100px;
}
.wrapper > header .search-form a {
  position:absolute;
  top: -18px;
  right: 0;
}
.search-form input {
  width: 300px;
}

footer {
  position: relative;
  width:992px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 44px; /* 88px ; */
  font-size: 12px;
  line-height: 18px;
  background-color: rgb(248, 243, 234);
  color: #000;
}
footer a {
  /*color: #fff;*/
  color: #000;
}

.content {
  padding-bottom: 48px;
 /* border-left: 1px solid #dcdfe4;
  border-right: 1px solid #dcdfe4;*/
  *zoom: 1;
}
.content:before,
.content:after {
  display: table;
  content: "";
}
.content:after {
  clear: both;
}

.content > * {
  float: left;
  width: 696px;
}

.wide {
  width: 896px;
}

.content aside {
  float: right;
  width: 252px;
}

.content header, section, .section, .box {
  margin-bottom: 16px;
}

section.condensed, .section.condensed {
  padding-top: 2px;
  padding-bottom: 2px;
}

section.expanded, .section.expanded {
  padding-top: 16px;
  padding-bottom: 16px;
}

.box {
  padding: 8px;
  border: 1px solid #dcdfe4;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.box.condensed {
  padding: 2px 4px;
}
.box.expanded {
  padding: 16px;
}

.box > .box-header {
  margin: -8px -8px 8px -8px;
  padding: 0 8px;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  color: #0870a1;
  background: #fff url(../img/facetbg.png) repeat-x scroll 0 0;
}

a {
  color: #369;
  text-decoration: none;
  font-weight: normal;
  word-wrap: break-word;
  cursor: pointer;
}

a:hover, a:active {
  text-decoration: underline;
}

a.external {
  padding-right: 16px;
  background: transparent url('../img/external.gif') no-repeat center right;
}

a.close {
  float: right;
  line-height: 12px;
}

.label {
  padding: 1px 6px;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
  color: #369;
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  vertical-align: baseline;
  white-space: nowrap;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.label.label-gray {
  color: #666;
}
.label-plain {
  padding: 0;
  color: #666;
  background-color: inherit;
  border: 0;
}
body.embed .label {
  font-size: 10px;
}

.l{float:left;margin-right:8px;}
.r{float:right;margin-left:8px;}

.a-l{text-align:left;}
.a-c{text-align:center;}
.a-r{text-align:right;}
.a-j{text-align:justify;}

.show{display:block;}
.hide{display:none;}
.inline{display:inline;}

.b-t{border-bottom:1px solid #dcdfe4}
.b-r{border-bottom:1px solid #dcdfe4}
.b-b{border-bottom:1px solid #dcdfe4}
.b-l{border-bottom:1px solid #dcdfe4}
.b{border:1px solid #dcdfe4}

.q-value {
width:425px;
}


.rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.shadow {
  -webkit-box-shadow: 4px 4px 4px #999;
  -moz-box-shadow: 4px 4px 4px #999;
  box-shadow: 4px 4px 4px #999;
}

.hl {
  background-color: #dfeefe;
}

dt{font-family:Helvetica,Arial,sans-serif;font-weight:bold;vertical-align:baseline;}
dd{margin-left:0;}

header.short dl dt {
  margin-top: 1.0em;
}
header.short dl dd {
  margin-top: -0.25em;
}

dl.horizontal {
  margin-bottom: 8px;
}

dl.horizontal dt {
  float: left;
  clear: left;
  width: 140px;
  padding-right: 8px;
  text-align: right;
  word-wrap: break-word;
}

dl.horizontal dd {
  margin-left: 148px;
}

dl.horizontal dd.wrap {
  margin-left: 0;
}

ul {
  margin-left: 16px;
}

ul {
  list-style: square outside;
}

ol {
  list-style: decimal outside;
}

ul.plain, ol.plain, ul.horizontal, ol.horizontal, ul.inside {
  margin-left: 0;
  list-style: none;
}

ul.inside > li {
  padding-left: 16px;
}

ul.horizontal > li, ol.horizontal > li {
  display: inline;
}

li.plain {
  list-style-type: none;
}

li.divider {
  color: #ccc;
}

li.heading {
  padding: 8px 0 0;
}

ul.list, ol.list {
  margin-left: 0;
  list-style: none;
  border-top: 1px solid #dcdfe4;
}

ul.list > li, ol.list > li {
  position: relative;
  padding: 8px 0;
  border-bottom: 1px solid #dcdfe4;
}

ul.list.condensed > li, ol.list.condensed > li {
  padding: 2px 0;
}

ul.list.bordered, ol.list.bordered {
  border-left: 1px solid #dcdfe4;
  border-right: 1px solid #dcdfe4;
}

ul.list.bordered li, ol.list.bordered li {
  padding: 8px;
}

ul.list.bordered.condensed > li, ol.list.bordered.condensed > li {
  padding: 2px 4px;
}

ul.striped li:nth-child(odd), ol.striped li:nth-child(odd) {
  background-color: #f7f7f7;
}

table.table {
  border-top: 1px solid #dcdfe4;
  border-right: 1px solid #dcdfe4;
}

table.table th,
table.table td {
  padding: 8px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #dcdfe4;
  border-left: 1px solid #dcdfe4;
}

table.table.condensed th,
table.table.condensed td {
  padding: 2px 4px;
}

table.striped tr:nth-child(odd) td,
table.striped tr:nth-child(odd) th {
  background-color: #f7f7f7;
}

.pagination {
  clear: both;
  position: relative;
  margin-left: 0;
  list-style: none;
  text-align: center;
}
.pagination li {
  display: inline;
  padding: 2px;
  color: #777;
}
.pagination li.current a {
  color: #000;
}

.pagination li.prev, .pagination li.next {
  position: absolute;
  padding: 0;
  top: 0;
}
.pagination li.prev {
  left: 0;
}
.pagination li.next {
  right: 0;
}

.tab-nav {
  margin-left: 0;
  margin-bottom: 16px;
  list-style: none;
  border-bottom: 1px solid #ccc;
  *zoom: 1;
}
.tab-nav:before,
.tab-nav:after {
  display: table;
  content: "";
}
.tab-nav:after {
  clear: both;
}
.tab-nav > li {
  float: left;
  margin-bottom: -1px;
}
.tab-nav > li.divider {
  display: none;
}
.tab-nav > li > a {
  display: block;
  padding: 8px;
  margin-right: 2px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.tab-nav > .tab-active > a,
.tab-nav > .tab-active > a:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom-color: transparent;
}
.tab-content {
  display: none;
}
.tab-content.tab-active {
  display: block;
}

.alert {
  padding: 8px;
  margin-bottom: 8px;
  /*background-color: #dceeff;*/
  background-color: #eceff8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert.warning {
  color: #fff;
  background-color: #f47a20;
}
.alert.error {
  color: #fff;
  background-color: #b94a48;
}
.alert.warning a, .alert.error a {
  color: #fff;
}

.underline-part:hover, .underline-part:active {
  text-decoration: none;
}
.underline-part:hover .underline, .underline-part:active .underline {
  text-decoration: underline;
}

/* Biblio */

.open-access {
  background-image: url('../img/open.png');
}
.restricted-access {
  background-image: url('../img/restricted.png');
}

.marked-record {
  background-color: #F5F5FF;
}

.unmarked-record {
}

.open-access, .restricted-access {
  background-position: 0 9px;
  background-repeat: no-repeat;
}
.list > li.open-access .title, .list > li.restricted-access .title {
  text-indent: 16px;
}

aside .list {
  border-top: 0;
  margin-top: -8px;
  margin-bottom: -8px;
}
aside .list li:last-child {
  border-bottom: 0;
}
aside .open-access, aside .restricted-access {
  background-position: 0 3px;
  padding: 4px 0 2px 14px;
}

.short .cite a, .short .title,.short .authors,.short .editors{display:block;}
.short .title a{font-weight:bold;}
.short .cite a, .short .title a,.short .authors a,.short .editors a,.short .parent a,.short .year a{color:#000;}
.short .parent{font-style:italic;}

a.plain{color:inherit;}

.csl-entry, .csl-left-margin, .csl-right-inline {
  display: inline;
}

.search-range {
  float: left;
}
.search-range, .search-option {
  color: #777;
}
.search-range .first, .search-range .last, .search-range .total {
  color: #000;
}
.search-option img {
  vertical-align: middle;
}
.search-option-content {
  position: relative;
  clear: both;
  display: none;
  margin-top: 8px;
  padding: 8px;
  background-color: #f7f7f7;
  border: 1px solid #d7d7d7;
}

.search-facet {
  width: 252px;
  margin-bottom: 8px;
}

#org-expand {
  float:right;
  margin-left:20px;
}

.embed-width, .embed-height {
  width: 60px;
}

/* Biblio embed */

.embed, .embed .wrapper, .embed .content, .embed .content > * {
  width: 100%;
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

/* Tablet Layout: 768px
  Gutters: 24px
  Outer margins: 28px
  Inherits styles from: Default Layout
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712 */

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .w-9, .w-10 {
    width: 712px;
  }

  .wrapper {
    width: 768px;
  }

  .topheader {
    width: 768px;
  }
  footer {
    width: 768px;
  }

  .wrapper > * {
    padding-left: 28px;
    padding-right: 28px;
  }

  .content > * {
    width: 436px;
  }

  .wide {
    width: 712px;
  }

  .wrapper > header .search-form {
    right: 28px;
    top: 130px;
  }
  .wrapper > header .search-form input {
    width: 150px;
  }

  .pagination li {
    display: none;
  }
  .pagination li.current  {
    display: inline;
  }
  .pagination li.prev,.pagination li.next  {
    display: block;
  }

  .wrapper > .luheader > nav {
    float: left;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(220, 223, 228);
    margin-bottom: 8px;
  }

}

/* Mobile Layout: 320px
  Gutters: 24px
  Outer margins: 34px
  Inherits styles from: Default Layout
cols    1     2      3
px      68    160    252 */

@media only screen and (max-width: 767px) {

  body {
    background-color: #fff;
  }

  th, td {
    word-break: break-all;
    word-wrap: break-word;
  }

  .w-4, .w-5, .w-6, .w-7, .w-8, .w-9, .w-10 {
    width: 252px;
  }

  .wrapper {
    padding: 0 34px 103px;
    width: 252px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }

  .wrapper > * {
    padding-left: 0;
    padding-right: 0;
  }

  .content > *, .wide, .content aside {
    float: none;
  }
  .content > *, .wide, .content aside.wide {
    width: 252px;
  }

  .wrapper > header {
    position: relative;
    margin-top: 16px;
    background-image: none;
  }

  .wrapper > header > nav {
    padding: 0;
    text-align: left;
  }

  .wrapper > header > h1 {
    padding: 0;
    line-height: inherit;
    text-shadow: 0;
  }
  .wrapper > header > h1 a {
    color: #000;
  }

  .wrapper > header > .logo {
    position: static;
  }

  .wrapper > header .search-form {
    position: relative;
    top: 0;
    right: 0;
  }
  .search-form input {
    width: 200px;
  }
  .wrapper > header .search-form input {
    width: 100px;
  }
  .wrapper > header .search-form a {
    position: relative;
    top: 0px;
  }

  .wrapper > header > .tab-nav {
    margin-top: 4px;
    border: 0;
  }
  .wrapper > header > .tab-nav li {
    float: none;
    display: inline;
    margin-bottom: 0;
  }
  .wrapper > header > .tab-nav li a {
    display: inline;
    padding: inherit;
    margin-right: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .wrapper > header > .tab-nav > .tab-active > a,
  .wrapper > header > .tab-nav > .tab-active > a:hover {
    border: 0;
  }
  .topheader {
    width: 252px;
  }

  .footerwrapper {
    background-color: #fff;
    color: #000;
  }

  footer {
    width: 252px;
    background-color: #fff;
    color: #000;
  }
  footer a {
    color: #369;
  }

  dl.horizontal dt {
    float: none;
    width: auto;
    padding-right: 0;
    text-align: left;
    word-wrap: normal;
  }
  dl.horizontal dd {
    margin-left: 0;
  }

  .search-range {
    float: none;
    text-align: right;
  }

  .pagination li {
    display: none;
  }
  .pagination li.current  {
    display: inline;
  }
  .pagination li.prev,.pagination li.next  {
    display: block;
  }

  div#download-stats-div {
    display: none;
  }
  div#fulltext_of_public_records_div {
    display: none;
  }
  .topwrapper {
    display: none;
  }
  .wrapper > .luheader h1 a{
    border: 0px;
  }

  .wrapper > .luheader > nav {
    float: left;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(220, 223, 228);
    margin-bottom: 4px;
  }
  
  #org-expand {
    float:none;
    margin-left:0px;
  }

}

/* Wide Mobile Layout: 480px
  Gutters: 24px
  Outer margins: 22px
  Inherits styles from: Default Layout, Mobile Layout
cols    1     2      3      4      5
px      68    160    252    344    436 */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .w-6, .w-7, .w-8, .w-9, .w-10 {
    width: 436px;
  }

  .wrapper {
    padding: 0 22px 103px;
    width: 436px;
  }

  .wrapper > header .search-form input {
    width: 150px;
  }

  .content > *, .wide, .content aside.wide {
    width: 436px;
  }

  footer {
    width: 436px;
  }

  .topheader {
    width: 436px;
  }
  .topwrapper {
    display: block;
  }

  .wrapper > .luheader h1 a{
    border-bottom: 1px solid rgb(156, 97, 20);
  }

}

/* Retina media query
  Overrides styles for devices with a
  device-pixel-ratio of 2+, such as iPhone 4 */

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {

}

.related-material-link {
  padding-left: 2em;
  margin-top: -0.8em;
}

div.luur-link {
  background-color: rgb(223, 239, 232);
  padding: 20px 10px 0px;
  margin-bottom: 30px;
}
div.pub-per-year {
  color: #000000;
  font-size: 180%;
  font-family: "Georgia";
  margin-bottom: 10px;
}
div.luur-link p.q {
  color: #8E5614;
  font-size: 180%;
  font-family: "Georgia";
  margin-bottom: 3em;
}
div.luur-link .link {
  line-height: 18px;
  font-weight: bold;
}
div.luur-link .bottomarrow {
  line-height: 0px;
  padding-left: 10px;
  vertical-align:middle;
}

div#download-stats-div {
  float: left;
  width: 322px;
  padding: 15px;
  background-color: #F8F3EA;
  height: 84px;
}
#stat-link-doc {
  border-top: solid 2px rgb(142, 86, 20);
  border-bottom: solid 2px rgb(142, 86, 20);
}
#stat-link-author {
  border-bottom: solid 2px rgb(142, 86, 20);
  margin-top: -7px;
}
#stat-link-doc a, #stat-link-author a {
  color: rgb(142, 86, 20);
  font-size: 180%;
  font-family: "Georgia";
  line-height: 40px;
}

div#fulltext_of_public_records_div {
  float: left;
  width: 322px;
  padding: 15px;
  background-color: #F8F3EA;
  height: 200px;
}
div#fulltext_of_public_records_div p {
  color: #8E5614;
  font-size: 180%;
  font-family: "Georgia";
  border-top: 4px solid #8E5614;
  border-bottom: 4px solid #8E5614;
  margin-top: -4px;
  margin-bottom: -4px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

span.query-field {
  font-style: italic;
}

