/*********** Geral ***********/
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #f3f3f3;
  padding: 0px;
  margin: 0px;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  overflow: -moz-scrollbars-vertical;
}

a:link,a:visited {
  color:#3065d1;
  text-decoration: none;
}

a:hover,a:active,a:focus {
  color:#77a4ff;
  text-decoration: none;
}

img {
  border: 0px;
}

h3 {
  font-size:1.3em;
  font-weight:bold;
  margin:10px 0;
  text-align: left;
  color: #3065d1;
}

h4 {
  padding-top: 5px;
  font-size:1.1em;
  text-align: left;
  color: #3065d1;
}

/*********** Divisoes Principais ***********/

#Site { /* Div do Site */
  width: 820px;
  margin-left: auto;
  margin-right: auto;
}

#SiteBackground { /* Background do Site */
  background: url(/templates/bdtd/images/bg_site.png) repeat-y;
  float: left;
  width: 820px;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#Cabecalho { /* Div do Cabecalho */
  width: 800px;
}

#Corpo { /* Div do Corpo */
  /* background: url(/templates/bdtd/images/bg_corpo.png); */
  float: left;
}

#Rodape { /* Div do Rodape*/  
  width: 800px;
}

/*********** Cabecalho ***********/

#CabecalhoBarraUSP {
  background: url(/templates/bdtd/images/banner_barra.png);
  height: 7px;
}

#CabecalhoUSP { /* Div do banner da USP padrao em portugues */
  background: url(/templates/bdtd/images/banner_usp.png);
  height: 36px;
}

#CabecalhoUSP_en { /* Div do banner da USP em ingles */
  background: url(/templates/bdtd/images/banner_usp_en.png);
  height: 36px;
}

#CabecalhoUSP_es { /* Div do banner da USP em espanhol */
  background: url(/templates/bdtd/images/banner_usp_es.png);
  height: 36px;
}

#CabecalhoUSP_fr { /* Div do banner da USP em frances */
  background: url(/templates/bdtd/images/banner_usp_fr.png);
  height: 36px;
}

#USPLink { /* Link do banner da USP para o site da USP (em qualquer idioma) */
  float: left;
  position: relative;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 36px;
}

#CabecalhoTeses { /* Div do logo do Site padrao em portugues */
  background: url(/templates/bdtd/images/banner_teses.png);
  float: left;
  width: 633px;
  height: 69px; 
}

#CabecalhoTeses_en { /* Div do logo do Site em ingles */
  background: url(/templates/bdtd/images/banner_teses_en.png);
  float: left;
  width: 633px;
  height: 69px; 
}

#CabecalhoTeses_es { /* Div do logo do Site em espanhol */
  background: url(/templates/bdtd/images/banner_teses_es.png);
  float: left;
  width: 633px;
  height: 69px; 
}

#CabecalhoTeses_fr { /* Div do logo do Site em frances */
  background: url(/templates/bdtd/images/banner_teses_fr.png);
  float: left;
  width: 633px;
  height: 69px; 
}

#CabecalhoImagens { /* Div do rotacionamento das imagens */
  float: left;
  width: 167px;
  height: 69px;
}

#HomeLink {  /* Link no logo do Site */
  float: left;
  position: relative;
  top: 0px;
  left: 0px;  
  width: 159px;
  height: 69px;
}

/*********** Corpo ***********/

.CorpoDivisao { /* Div do Corpo */
  clear: both;
}

#CorpoDivisao { /* Div do Corpo */
  clear: both;
}

/***** Linha 1 *****/

#CorpoMenuTopo { /* Div do menu no topo da pagina */
  background-color: #ccc;
  float: left;
  width: 800px;
  height: 20px;
}

#CorpoMenuTopo #mainlevel-nav {
  text-align: right;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#CorpoMenuTopo #mainlevel-nav li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 20px;
}

#CorpoMenuTopo a {
  color: #000;
}

#CorpoMenuTopo a:hover {
  color: #666;
}

/***** Linha 2 *****/

#CorpoReferencia { /* Div da referencia da pagina (breadcrumb) e do idioma */
  background-color: #eee;
  float: left;
  width: 680px;
  height: 25px;
  line-height: 25px;
}

#CorpoReferencia span {
  margin-left: 5px;
}

#CorpoIdioma img {
  position: relative;
  top: 3px;
}

#CorpoIdioma div { /* Div do idioma */
  float: left;
  margin: 0px;
  padding: 0px;
  width: 120px;
  height: 25px;
  background-color: #eee;
  text-align: right;
}

#CorpoIdioma .rawimages{
  margin-top: 0px;
}

#CorpoIdioma span {
  margin: 0px;
  margin-right: 7px;
  padding: 0px;
}

#CorpoIdioma a { 
  position: relative;
  top: 0px;
  margin: 0px;
  padding: 0px;
}

#CorpoIdioma img {
  position: relative;
  top: 0px;
  margin: 0px;
  padding: 0px;
}

#CorpoIdioma .active_language img {
  position: relative;
  top: 0px;
  margin: 0px;
  padding: 0px;
}

/***** Linha 3 *****/

/** Menu **/
#CorpoMenu { /* Div do menu principal */
  float: left; 
  width: 158px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 10px;
}

#CorpoMenu .moduletable_menu {
  float: left;
  width: 158px;
  margin: 0px;
  padding: 0px;
}

#CorpoMenu .moduletable_menu h3 {
  background: url(/templates/bdtd/images/bg_titulo.png);
  float: left;
  width: 153px;
  line-height: 25px;
  margin: 0px;
  margin-bottom: 1px;
  padding-left: 5px;
  font-size: 12px;
  color: #000;
}

#CorpoMenu .moduletable_menu ul { /* Menu nivel 1 */
  float:left;
  width: 158px;
  list-style-type: none;
}

#CorpoMenu .moduletable_menu ul li {
  background-color: #eee;
  float:left;
  width: 158px;
  margin: 0px;
  margin-top: 2px;
  padding: 0px;
  line-height: 22px;
}

#CorpoMenu .moduletable_menu ul li a {
  background-color: #eee;
  float: left;
  width: 153px;
  margin-top: 1px;
  padding-left: 5px;
  line-height: 22px;
}

#CorpoMenu .moduletable_menu ul li a:hover {
  background-color: #fc0;
  border-top: solid 1px #888;
  border-bottom: solid 1px #888;
  line-height: 20px;
  color: #3065d1;
}

#CorpoMenu .moduletable_menu ul ul { /* Menu nivel 2 */
  float: left;
  width: 148px;
}

#CorpoMenu .moduletable_menu ul ul li {
  background-color: #eee;
  float: left;
  width: 148px;
  margin: 0px;
  padding: 0px;
  line-height: 20px;
}

#CorpoMenu .moduletable_menu ul ul li a {
  background-color: #eee;
  float: left;
  width: 143px;
  margin: 0px;
  padding-left: 15px;
  line-height: 20px;
  color: #555;
}

#CorpoMenu .moduletable_menu ul ul li a:hover {
  background-color: #fc0;
  border: 0px;
  border: none;
  line-height: 20px;
  color: #000;
}

#CorpoMenu .moduletable { /* Outros menus */
  background-color: #eee;
  float: left;
  width: 158px;
  margin-top: 2px;
}

#CorpoMenu .moduletable h3 {
  background: url(/templates/bdtd/images/bg_titulo.png);
  float: left;
  width: 158px;
  line-height: 25px;
  margin: 0px;
  margin-bottom: 1px;
  padding-left: 5px;
  font-size: 12px;
  color: #fff;
}

/** Conteudo **/

#CorpoConteudo { /* Div do conteudo do corpo */
  float: left;
  position: relative;
  width: 500px;
  margin-left: 5px;
  margin-right: 5px;
}

#CorpoConteudoLivre { /* Div do conteudo do corpo quando nao tem lado direito */
  float: left;
  position: relative;
  width: 630px;
  margin-left: 5px;
  margin-right: 5px;
}

#CorpoTexto  {
  position: relative;
  padding-top: 10px;
}

#CorpoTexto * {
  /* text-align: justify; */
}


#CorpoTexto td.componentheading {
  display: none;
}

#CorpoTexto td {
  padding: 3px;
}

#CorpoTexto li {
  margin-left: 10px;
  list-style-position: outside;
}

#CorpoTexto .contentheading {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-weight: bold;
  height: 20px;
  color: #3065d1;
  text-align: left;
}

#CorpoTexto .componentheading {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-weight: bold;
  height: 20px;
  color: #3065d1;
  text-align: left;
}

#CorpoTexto .title_line {
  float: left;
  width: auto;
  position: relative;
  top: -3px;
  margin-left: 1px;
  height: 2px;
  font-size: 0px;
}

#CorpoTexto .title_line  img{
  width: 100%;
}

#CorpoTexto .contentpane {
  width: auto;
}

#CorpoTexto .contentpane ul {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  list-style-position: outside;
}

#CorpoTexto .contentpane li {
  margin: 0px;
  list-style-position: outside;
}

#CorpoTexto .contentpaneopen {
  width: 100%; 
}

#CorpoTexto table.contentpaneopen {
}

#CorpoTexto .contentpaneopen td {
  margin: 0px;
  padding: 0px;
}

#CorpoTexto .contentpaneopen td a:hover{
  color: #77a4ff;
}

#CorpoTexto .contentpaneopen .small {
  color: #a0a0a0;
}

#CorpoTexto .contentpaneopen .createdate{
  color: #a0a0a0;
}

#CorpoTexto .contentpaneopen p {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  text-align: justify;
}

#CorpoTexto .contentpaneopen p a:hover{
  color: #77a4ff;
}

#CorpoTexto .contentpaneopen ol {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  list-style-position: outside;
  text-align: left;
}

#CorpoTexto .contentpaneopen ul {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  list-style-position: outside;
  text-align: left;
}

#CorpoTexto .contentpaneopen ul li {
  margin: 0px;
  list-style-position: outside;  
  list-style-type: disc;
  text-align: left;
}

#CorpoTexto .contentpaneopen ol li {
  margin: 0px;
  list-style-position: outside;  
  text-align: left;
}

#CorpoTexto .contentpaneopen ul ul {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  list-style-position: outside;
  text-align: left;
}

#CorpoTexto .contentpaneopen ul li ul li {
  margin: 0px;
  list-style-position: outside;  
  list-style-type: disc;
  text-align: left;
}


#CorpoTexto .contentpaneopen caption {
  text-align: justify;
}

#CorpoTexto .contentpane {
  float: left;

}

#CorpoTexto .contentpane {
  float: left;

}

#CorpoTexto .blog_more  {
  float: left;
  padding-left: 7px;

}

#CorpoTexto .blog_more div {

}

#CorpoTexto .blog_more strong {
  font-size: 10px;
}

#CorpoTexto .blog_more ul {
  float: left;
  padding-left: 0px;
}

#CorpoTexto .blog_more li {
  float: left;
  width: 400px;
  margin: 0px;
  list-style: none;
}

#CorpoTexto .blog_more a {
  font-size: 11px;
}

#CorpoTexto .blog_more a:hover {
  text-decoration: underline;
  color: #3065d1;
}

#CorpoTexto #phoca-dl-sections-box div.sections {
  width: 200px;
}

#CorpoTexto .moduletable {
  float: left;
  width: 490px;
  background-color: #eee;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#CorpoTexto .moduletable table {
  float: left;
}

#CorpoTexto .moduletable ul.latestnews, ul.newsfeed {
  float: left;
  margin-left: 0px;
  # margin-right: 5px;
  padding-left: 3px;
  # text-indent: -0.5em;
}

#CorpoTexto .moduletable li.latestnews, ul.newsfeed li {
  margin-bottom: 5px;
}

#CorpoTexto .moduletable li.latestnews a:hover, ul.newsfeed li a:hover{
}

#CorpoColuna {
  float: left;
  width: 230px;
  margin-left: 5px;
  margin-right: 5px;
}

#CorpoDocumento {
  width: 220px;
}

#CorpoLista ul>li {
  width: 220px;
  list-style: none;
  margin-left: 0px;
  margin-right: 5px;
  padding-left: 1em;
  text-indent: -1em;
}

#CorpoAcervo {
  width: 100%;
}

#CorpoAcervo table thead tr th {
  color: black;
  background-color: #fc0;
  text-align: left;
  padding: 2px;
  margin: 2px;
}

#CorpoAcervo table tbody tr {
  vertical-align: top;
  padding: 2px;
  margin: 2px;
}

#CorpoMais {
  width: 100%;
  background-color: #ccc;
  text-align: center;
}

div.CorpoPaginacao {
  float: left;
  width: 100%;
  background-color: #eee;
  text-align: center;
}

#CorpoPesquisaTexto {
  width: 100%;
}

/** Info **/
#CorpoInfo { /* Div do conteúdo do informativo do corpo - lado direito */
  float: left;
  width: 130px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}

#CorpoInfo .moduletable {
  background-color: #eee;
  float: right;
  margin: 0px;  
  padding: 0px;
  margin-top: 3px;
  font-size: 9px;
  text-align: left;
}

#CorpoInfo .moduletable table {
  float: right;
}

#CorpoInfo .moduletable table tr td {
  text-align: left;
  background-color: #eee;
  margin: 3px;
  padding: 5px;
  text-decoration: none;
}

#CorpoInfo .moduletable h3 {
  background-color: #fc0;
  float: right;
  width: 125px;
  margin: 0px;
  padding-left: 5px;
  line-height: 25px;
  font-size: 12px;
  color: #000;
}

#CorpoInfo .moduletable_morenews {
  background-color: #F7F3E7; 
  float: right;
  width: 130px;
  margin-bottom: 5px;
  padding-bottom: 4px;
}

#CorpoInfo .moduletable_morenews a{
	float: right;
	padding-right: 4px;
	font-size: 9px;
}

#CorpoInfo .moduletable_morenews a:hover{
  text-decoration: underline;
}

#CorpoInfo .moduletable_75anos a {
  float: right;
  width: 125px;
  height: 46px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  color: #000;
}


/*** Menu Servicos ***/

#CorpoInfo .moduletable_menu {
	float: right;
	margin-top: 3px;
}

#CorpoInfo .moduletable_menu h3 {
  background-color: #6699ff;
  float: right;
  width: 125px;
  line-height: 25px;
  margin: 0px;
  margin-bottom: 1px;
  padding-left: 5px;
  font-size: 12px;
  color: #fff;
}

#CorpoInfo .menu ul {
  float: right;
  width: 130px;
  list-style-type: none;
}

ul.menu {
  float: right;
  width: 130px;
  list-style-type: none;
}

#CorpoInfo .menu ul li {
  float: right;
  width: 130px;
  margin: 0px;
  margin-top: 2px;
  padding: 0 px;
}

#CorpoInfo .menu ul ul {
  float: right;
  width: 130px;
  list-style-type: none;
}

#CorpoInfo .moduletable_menu ul {
  float: right;
  width: 130px;
  list-style-type: none;
}

#CorpoInfo .moduletable_menu ul li {
  background-color: #F7F3E7;
  float: right;
  width: 130px;
  margin: 0px;
  margin-top: 2px;
  padding: 0px;
}

#CorpoInfo .moduletable_menu ul ul {
  float: right;
  width: 130px;
}

#CorpoInfo .moduletable_menu ul ul li {
  float: right;
  width: 130px;
  margin: 0px;
  padding: 0px;
}

#CorpoInfo .moduletable_menu ul li a {
  background-color: #F7F3E7;
  float: right;
  width: 125px;
  margin-top: 1px;
  padding-left: 5px;
  line-height: 22px;
  color: #3065d1;
}

#CorpoInfo .moduletable_menu ul ul li a {
  background-color: #F7F3E7;
  float: right;
  width: 120px;
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  line-height: 20px;
  color: #555;
}

#CorpoInfo .moduletable_menu ul li a:hover {
  background-color: #fc0;
  border-top: solid 1px #888;
  border-bottom: solid 1px #888;
  line-height: 20px;
}

#CorpoInfo .moduletable_menu ul ul li a:hover {
  background-color: #e5e2d6;
  border: 0px;
  color: #000;
}

#CorpoInfo .moduletable_menu {
	padding-bottom: 5px;
}

#CorpoInfo .moduletable_menu table tr td {
  text-align: left;
  border-top: solid 2px #fff;
  background-color: #eee;
  margin: 0px;
  text-decoration: none;
}


#CorpoInfo.moduletable_menu table tr td div {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

#CorpoInfo .moduletable_menu table tr td img {
  text-align: right;
  padding-right: 2px;
}


#CorpoInfo .moduletable_menu table tr td:hover{
  background-color: #83e383;
  
}

#CorpoInfo .moduletable_menu a {
  background-color: #F7F3E7;
  float: left;
  width: 125px;
  height: 20px;
  padding-top: 5px;
  padding-left: 5px;
}
#CorpoInfo .moduletable_menu a:hover {
  background-color: #fc0;
  float: left;
  width: 125px;
  height: 19px;
  padding-top: 4px;
  padding-left: 5px;
  border-top: solid 1px #888;
  border-bottom: solid 1px #888;
}

#CorpoInfo .moduletable_menu h3 {
  background-color: #6699ff;
  line-height: 23px;
  line-height: 23px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  margin: 0px;
  padding-left: 5px;
}

/********** Rodapé **********/

#Rodape {
  background-color: #eee;
  float: left;
  padding-top: 8px;
}

#MenuRodape {
  background-color: #6699ff;
  width: 800px;
  float: left;
  line-height: 20px;
  text-align: center;
}

#MenuRodape #mainlevel {
  text-align: right;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#MenuRodape #mainlevel li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 20px;
}

#MenuRodape a {
  color: #000;
}

#MenuRodape a:hover {
  color: #666;
}

#Direitos { /* Div do Rodapé */
  background-color: #eee;
  width: 790px;
  float: left;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  font-style: bold;
  font-size: 11px;
  border: none;
}

#Info {
  width: 130px;
}

#InfoTitulo {
  float: left;
  margin-left: 5px;
}

#InfoDados {
  float: right;
  text-align: right;
}

#InfoEstatistica {
  float: left;
  text-align: left;
}

#InfoEstatistica ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

#InfoEstatistica ul li {
  list-style-image: none;
  list-style-type: none;
}

/****** Tabela de estatisticas ******/
.table_tabela {
	border: 0 solid black;
}
.table_titulo {
   background-color: #fc0;
}
.table_dados {
   background-color: #ff9;
}

