#CorpoConteudoDocumento { /* Div do conteudo do corpo para apresentacao dos documentos */
  float: left;
  position: relative;
  width: 790px;
  margin-left: 5px;
  margin-right: 5px;
  z-index: 0;
}

#DocumentoTitulo {
  float: left;
  position: relative;
  width: 790px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 1.1em;
  text-align: left;
  color: #3065d1;
  font-weight: bold;
}

.DocumentoTitulo {
  float: left;
  position: relative;
  width: 790px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 1.1em;
  text-align: left;
  color: #3065d1;
  font-weight: bold;
}

#DocumentoTituloTexto {
  float: left;
  position: relative;
  width: 230px;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 5px;
}

.DocumentoTituloTexto {
  float: left;
  position: relative;
  width: 230px;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 5px;
}

#DocumentoTituloTexto2 {
  float: left;
  position: relative;
  width: 790px;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 5px;
}

.DocumentoTituloTexto2 {
  float: left;
  position: relative;
  width: 790px;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 5px;
}

#DocumentoTituloTexto3 {
  float: left;
  position: relative;
  width: 790px;
  color: #c00;
  padding-top: 0px;
  padding-bottom: 5px;
}

.DocumentoTituloTexto3 {
  float: left;
  position: relative;
  width: 770px;
  color: #c00;
  padding-top: 0px;
  padding-bottom: 5px;
  text-align: justify;
}

#DocumentoTituloTexto4 {
  float: left;
  position: relative;
  width: 790px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.DocumentoTituloTexto4 {
  float: left;
  position: relative;
  width: 790px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.CaixaReferencia {
  float: left;
  position: relative;
  width: 780px;
  padding: 5px;
  background-color: #ccc;
}

.CaixaReferenciaItem {
  float: left;
  postion: relative;
}

#DocumentoTexto {
  float: left;
  position: relative;
  width: 560px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.DocumentoTexto {
  float: left;
  position: relative;
  width: 560px;
  padding-top: 0px;
  padding-bottom: 5px;
}

#DocumentoTextoResumo {
  float: left;
  position: relative;
  width: 790px;
  text-align: justify;
  padding-top: 0px;
  padding-bottom: 5px;
}

.DocumentoTextoResumo {
  float: left;
  position: relative;
  width: 790px;
  text-align: justify;
  padding-top: 0px;
  padding-bottom: 5px;
}

