.CorpoEstante {
  position: relative;
  float: left;
  width: 600px;
  height: 15px;
  line-height: 0px;
  text-align: left;
}

.CorpoServico {
  position: relative;
  float: left;
  width: 645px;
  height: 1px;
  line-height: 0px;
}

.CorpoServicoMenu {
  position: relative;
  float: left;
  width: 150px;
  border: solid 1px;
  z-index: 888;
}

.CorpoServicoDivisao {
  position: relative;
  float: left;
  width: 5px;
  height: 1px;
  line-height: 0px;
}

img.estante {
  border: 0;
  line-height: 0px;
  vertical-align: top
}

div.bdPanel {
  position: relative;
  float: left;
  width: 200px;
  height: 15px;
  line-heigth: 0px;
  z-index: 999;
}

div.bdPanelServico {
  position: relative;
  float: left;
  width: 150px;
  height: 15px;
  line-heigth: 0px;
  z-index: 888;
}

div.menuPanel {
  width: 150px;
  background-color: #600;
  z-index: 999;
  position: relative;
}

div.menuPanelServico{
  width: 150px;
  background-color: #ff9;
  z-index: 888;
  position: relative;
  border: solid 1px #ccc;
}

div.menuTab {
  width: 200px;
  z-index: 999;
  position: relative;
}

div.menuTabServico {
  position: relative;
  text-align: right;
  width: 150px;
  z-index: 888;
}

div.menuItem {
  padding-top: 3px;
  padding-bottom: 3px;
}

div.menuItemTitulo {
  float: left;
  text-align: left;
}

div.menuItemValor {
  float: right;
  text-align: right;
}

div.menuTitulo {
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: #009;
}

div.conteudoPanel {
  padding: 5px;
}

div.tituloPanel {
  text-weight: bold;
  text-color: 
}

hr.servico {
  color: #fff;
  background-color: #fff;
}

hr.estante{
  color: #900;
  background-color: #fff;
}

label.estante {
  color: #fff;
  text-align: right;
}

input.estante {
  border: 1px;
  text-align: left;
}
