.uspclear {
	clear:both;
	height:0;
	line-height:0
}
.uspclearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.uspclearfix {
	display:inline-block;
	display:block;
	height:1%;
	display:block;
}
* html .uspclearfix {
	height:1%
}
.usptab {
	background:url(http://www.ccs.usp.br/uspbarra/barra1/images/tab_b.png) repeat-x 0 0;
	height:42px;
	position:relative;
	top:0;
	z-index:99999;
	width=100%;
}
.usptab ul.usplogin {
	display:block;
	position:relative;
	float:right;
	clear:right;
	height:42px;
	width:auto;
	font-weight:bold;
	line-height:42px;
	margin:0;
	right:100px;
	color:#fff;
	font-size:80%;
	text-align:center
}
.usptab ul.usplogin li.uspleft {
	background:url(http://www.ccs.usp.br/uspbarra/barra1/images/tab_l.png) no-repeat left 0;
	height:42px;
	width:30px;
	padding:0;
	margin:0;
	display:block;
	float:left
}
.usptab ul.usplogin li.uspright {
	background:url(http://www.ccs.usp.br/uspbarra/barra1/images/tab_r.png) no-repeat left 0;
	height:42px;
	width:30px;
	padding:0;
	margin:0;
	display:block;
	float:left
}
.usptab ul.usplogin li {
	text-align:left;
	padding:0 0px;
	display:block;
	float:left;
	height:42px;
	background:url(http://www.ccs.usp.br/uspbarra/barra1/images/tab_m.png) repeat-x 0 0
}
.usptab ul.usplogin li a {
	color:#15ADFF
}
.usptab ul.usplogin li a:hover {
	color:#fff
}
.usptab .uspsep {
	color:#414141
}
.usptab a.uspopen, .usptab a.uspclose {
/*	height:20px;
	top:11px;
*/
	line-height:0px !important;
	padding-left:10px !important;
	cursor:pointer;
	display:block;
	width:70px;
	position:relative;

}
/*
.usptab a.uspopen {
	background:url(http://www.ccs.usp.br/uspbarra/barra1/images/bt_open.png) no-repeat left 0
}
.usptab a.uspclose {
	background:url(http://www.ccs.usp.br/uspbarra/barra1/images/bt_close.png) no-repeat left 0
}
.usptab a:hover.uspopen {
	background:url(http://www.ccs.usp.br/uspbarra/barra1/images/bt_open.png) no-repeat left -19px
}
.usptab a:hover.uspclose {
	background:url(http://www.ccs.usp.br/uspbarra/barra1/images/bt_close.png) no-repeat left -19px
}
*/
#usptoppanel {
	position:absolute;
	top:0;
	left:0;
	right:0;
	width:100%;
	z-index:99999;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-family:"Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 12px;

}
#usppanel {
	width:100%;
	height:270px;
	background:#FFF;
	background-image:url(http://www.ccs.usp.br/uspbarra/barra1/images/bg.png);
	background-repeat:repeat-x;
	overflow:hidden;
	position:relative;
	z-index: 99999;
	display:none
}
#usppanel h1 {
	font-size:1.6em;
	padding:5px 0 10px;
	margin:0;
	color:#fff
}
#usppanel h2 {
	font-size:1.2em;
	padding:10px 0 5px;
	margin:0;
	color:#fff
}
#usppanel p {
	margin:5px 0;
	padding:0
}
#usppanel a {
	text-decoration:none;
	color:#15ADFF
}
#usppanel a:hover {
	color:#fff
}
#usppanel a-lost-pwd {
	display:block;
	float:left
}
#usppanel .uspcontent {
	width:960px;
	margin:0 auto;
	padding-top:15px;
	text-align:left;
	font-size:0.85em
}
#usppanel .uspcontent .uspleft {
	width:280px;
	float:left;
	padding:0 15px;
	border-left:1px solid #333
}
#usppanel .uspcontent .uspright {
	border-right:1px solid #333
}
#usppanel .uspcontent form {
	margin:0 0 10px
}
#usppanel .uspcontent label {
	float:left;
	padding-top:8px;
	clear:both;
	width:280px;
	display:block
}
#usppanel .uspcontent input.field {
	border:1px #1A1A1A solid;
	background:#414141;
	margin-right:5px;
	margin-top:4px;
	width:200px;
	color:#fff;
	height:16px
}
#usppanel .uspcontent input:focus.field {
	background:#545454
}
#usppanel .uspcontent input.bt_login, #panel .uspcontent input.bt_register {
	display:block;
	float:left;
	clear:left;
	height:24px;
	text-align:center;
	cursor:pointer;
	border:none;
	font-weight:bold;
	margin:10px 0
}
#usppanel .uspcontent input.bt_login {
	width:74px;
	background:transparent url(http://www.ccs.usp.br/uspbarra/barra1/images/bt_login.png) no-repeat 0 0
}
#usppanel .uspcontent input.bt_register {
	width:94px;
	color:#fff;
	background:transparent url(http://www.ccs.usp.br/uspbarra/barra1/images/bt_register.png) no-repeat 0 0
}
#usppanel .usplost-pwd {
	display:block;
	float:left;
	clear:right;
	padding:15px 5px 0;
	font-size:0.95em;
	text-decoration:underline
}
#uspmenu_top_usp {
	list-style:none;
	margin:0;
	padding:0;
	width:16em
}
.uspmenu_top_tit {
	text-align:left;
	font-weight:bold;
	color:#000
	font-size: 16px;
}
#uspmenu_top_usp li {
	margin:0px;
	padding:0px;
	text-align:left;
	display: inline;
}
#uspmenu_top_usp a {
	background:url(http://www.ccs.usp.br/uspbarra/barra1/images/hover1.gif) left center no-repeat;
	border-bottom:1px solid #cb911c;
	color:#000;
	display:block;
	margin:0px;
	padding:5px 12px;
	_padding:5px 12px 5px;
	text-decoration:none;
	font-weight:normal;
	text-align:left;
	font-size: 12px;
}
#uspmenu_top_usp a:hover {
	background:#ffb621 url(http://www.ccs.usp.br/uspbarra/barra1/images/hover.gif) left center no-repeat;
	color:#000;
	padding-bottom:5px;
	_padding:5px 12px 5px;
}
#usppanel td {
	vertical-align: top;
	border: 0px;
}
#usppanel table {
	border: 0px;
}
#usppanel input {
	border: 0px;
}
