[Desktop Entry]
Encoding=UTF-8
Name=Link to Tools for Extracting Data and Text from PDFs - A Review - Open Knowledge Labs
Type=Link
URL=http://okfnlabs.org/blog/2016/04/19/pdf-tools-extract-text-and-data-from-pdfs.html
Icon=text-html
Name[en_US]=Extracting Data and Text from PDF
