[Desktop Entry]
Encoding=UTF-8
Name=Link to LaTeX/Page Layout - Wikibooks, open books for an open world
Type=Link
URL=https://en.wikibooks.org/wiki/LaTeX/Page_Layout
Icon=text-html
Name[en_US]=Latex margin
