[Desktop Entry]
Encoding=UTF-8
Name=Link to Structuring a thesis | Search & Write
Type=Link
URL=https://sokogskriv.no/en/writing/structure-and-argumentation/structuring-a-thesis/
Icon=text-html
Name[en_US]=These
