[Desktop Entry]
Encoding=UTF-8
Name=Link to What Does IMRaD Reveal About Science? – Literacy & Discourse – Medium
Type=Link
URL=https://medium.com/literacy-discourse/what-does-imrad-reveal-about-science-7de7741ba987
Icon=text-html
Name[en_US]=These IMRaD
