[Desktop Entry]
Encoding=UTF-8
Name=Link to The 'write' order and IMRaD | エダンズ グループ ジャパン
Type=Link
URL=https://www.edanzediting.co.jp/node/144
Icon=text-html
Name[en_US]=These writing
