[Desktop Entry]
Encoding=UTF-8
Name=Link to Docol©c- Add Document
Type=Link
URL=https://www.docoloc.de/6beafc9d3d08179386c8c7cf3c80cabb9IF09FFHV3jLelj7Lv/en/plagiat.hhtml
Icon=text-html
Name[en_US]=submission_ Docol©c
