[Desktop Entry]
Encoding=UTF-8
Name=Link to détecteur de plagiat ::: Files ::: plagium
Type=Link
URL=http://www.plagium.com/fr/account/files
Icon=text-html
Name[en_US]=submition_Plagium
