[Desktop Entry]
Encoding=UTF-8
Name=Link to Gestionnaire de documents PlagScan
Type=Link
URL=https://www.plagscan.com/docman
Icon=text-html
Name[en_US]=submition_PlagScan
