[Desktop Entry]
Encoding=UTF-8
Name=Link to Conferences accepting submissions EDAS (1630533 - aghilesdjoudi@gmail.com):
Type=Link
URL=https://edas.info/listConferencesSubmit.php
Icon=text-html
Name[en_US]=EDAS
