[Desktop Entry]
Encoding=UTF-8
Name=Link to CiteSeerX
Type=Link
URL=http://citeseerx.ist.psu.edu/index;jsessionid=F21D1852173014E3831744E4B0D57BB2
Icon=text-html
Name[en_US]=search_CiteSeerX
