[Desktop Entry]
Encoding=UTF-8
Name=Link to Suggest | Mendeley
Type=Link
URL=https://www.mendeley.com/suggest
Icon=text-html
Name[en_US]=search_Mendeley
