[Desktop Entry]
Encoding=UTF-8
Name=Link to MyScienceWork: The Global Scientific Platform
Type=Link
URL=https://www.mysciencework.com/#
Icon=text-html
Name[en_US]=search_MyScienceWork
