[Desktop Entry]
Encoding=UTF-8
Name=Link to Word Co-Occurrence Regularized Non-Negative Matrix Tri-Factorization for Text Data Co-Clustering. - Semantic Scholar
Type=Link
URL=https://www.semanticscholar.org/search?q=Word%20Co-Occurrence%20Regularized%20Non-Negative%20Matrix%20Tri-Factorization%20for%20Text%20Data%20Co-Clustering.&sort=relevance
Icon=text-html
Name[en_US]=search_Semantic Scholar
