[Desktop Entry]
Encoding=UTF-8
Name=Link to Home | Microsoft Academic
Type=Link
URL=https://academic.microsoft.com/home
Icon=text-html
Name[en_US]=search_Microsoft Academic
