[Desktop Entry]
Encoding=UTF-8
Name=Link to dblp: computer science bibliography
Type=Link
URL=http://dblp.uni-trier.de/
Icon=text-html
Name[en_US]=search_dblp
