[Desktop Entry]
Encoding=UTF-8
Name=Link to BASE (Bielefeld Academic Search Engine): Basic Search
Type=Link
URL=https://www.base-search.net/
Icon=text-html
Name[en_US]=search_BASE
