[Desktop Entry]
Encoding=UTF-8
Name=Link to PDF search engine for free scientific publications - FreeFullPDF
Type=Link
URL=http://www.freefullpdf.com/?gclid=EAIaIQobChMIvr2MhYn13gIVA_hRCh2vHgy2EAAYASAAEgKRVvD_BwE#gsc.tab=0
Icon=text-html
Name[en_US]=search_Freefullpdf
