[Desktop Entry]
Encoding=UTF-8
Name=Link to Search CORE
Type=Link
URL=https://core.ac.uk/search?q=Word%2BCo-Occurrence%2BRegularized%2BNon-Negative%2BMatrix%2BTri-Factorization%2Bfor%2BText%2BData%2BCo-Clustering.
Icon=text-xml
Name[en_US]=search_CORE
