[Desktop Entry]
Encoding=UTF-8
Name=Link to UniCat-Search
Type=Link
URL=https://www.unicat.be/uniCat?func=search&uiLanguage=en&query=contagion+process+models
Icon=text-html
Name[en_US]=xsearch_UniCat
