[Desktop Entry]
Encoding=UTF-8
Name=Link to ScientificCommons | Bibliothèques ULiège
Type=Link
URL=https://lib.uliege.be/fr/eresources/scientificcommons
Icon=text-html
Name[en_US]=xsearch_ScientificCommons
