[Desktop Entry]
Encoding=UTF-8
Name=Link to Home - PubMed - NCBI
Type=Link
URL=https://www.ncbi.nlm.nih.gov/pubmed/
Icon=text-html
Name[en_US]=xsearch_PubMed
