[Desktop Entry]
Encoding=UTF-8
Name=Link to Scribe - Bibliothèque ULiège
Type=Link
URL=http://scribe.uliege.be/html/scribe.php
Icon=text-html
Name[en_US]=xsearch_Scribe
